.vytvoreni td {
    background-color: #e0ffe3;
}
.editace td {
    background-color: #e4eefd;
}
.smazani td {
    background-color: #fde4e4;
}
.podpis td {
    background-color: #f5f7cf;
}
.vypoved td {
    background-color: #f7ebde;
}

