{% extends "base.html" %}
{% load static %}

{% block title %}
Pojištěnec: {{ pojistenec.jmeno }} {{ pojistenec.prijmeni }}
{% endblock title %}


{% block styles %}
    <link rel="stylesheet" href={% static "pojistenci_app/detail_pojistence.css" %}>
{% endblock styles %}




{% block content %}
    <div class="container-md">
        <h1 class="text-center pt-4 bg-light mb-0">DETAIL POJIŠTĚNCE</h1>
        <div class="bg-light p-5 mb-5 d-flex gap-3 justify-content-center rounded-bottom">
            <div class="detail-pojistence d-flex align-items-center justify-content-around w-75">
                <div>
                    <img src="{% static "/pojistenci_app/pictures/"|add:pojistenec.foto %}">
                </div>
                <div>
                    <h4 class="mb-3">{{ pojistenec.jmeno }} {{ pojistenec.prijmeni }} - {% if pojistenec.je_muz %}MUŽ{% else %}ŽENA{% endif %}</h4>
                    <p class="lead">Datum narození: {{ pojistenec.narozeni }}</p>
                    <p class="lead">Datum registrace: {{ pojistenec.datum_registrace }}</p>
                    <div class="d-flex gap-3">
                        <a class="btn btn-primary btn-sm mt-2" href={% url "detail_pojistence" pojistenec.id %}>Všechny smlouvy</a>
                        <a class="btn btn-success btn-sm mt-2" href={% url "nova_smlouva" pojistenec.id %}>Nová smlouva</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-md">
        {% block content_bottom %}
        
        {% endblock content_bottom %}
    </div>
{% endblock content %}
