{% extends "base.html" %}

{% block title %}
    Historie
{% endblock title %}


{% block styles %}
{% endblock styles %}

{% block content %}
<div class="container-md">
    <h1 class="text-center pt-4 bg-light mb-0">HISTORIE</h1>
    <div class="bg-light p-3 mb-4 d-flex flex-column justify-content-center align-items-center rounded-bottom">
        <div>
            <ul class="list-group list-group-flush mt-2 mb-4">
                <li class="list-group-item lead bg-light fw-bold">Sledované události</li>
                <li class="list-group-item  bg-light"><b>Pojištěnec</b> : vytvoření, editace, smazání</li>
                <li class="list-group-item  bg-light"><b>Produkt</b> : vytvoření, editace, smazání</li>
                <li class="list-group-item  bg-light"><b>Smlouva</b> : podepsání, výpověď</li>
            </ul>
        </div>
    </div>

    <h3 class="mb-5">Historie všech událostí</h3>
    <table class="table table-hover" id="vsechny_smlouvy">
        <thead>
        <tr>
            <th scope="col" class="small">PO.</th>
            <th scope="col" class="small">PR.</th>
            <th scope="col" class="small">SM.</th>
            <th scope="col">Pojištěnec</th>
            <th scope="col">Produkt</th>
            <th scope="col">Akce</th>
            <th scope="col">Detail</th> {% comment %} částka, cena, krytí... {% endcomment %}
            <th scope="col">Datum akce</th>
        </tr>
        </thead>
        <tbody>
        {% for zaznam in historie %}
        <tr style="vertical-align: middle;">
            <td scope="row">{{ zaznam.pojistenec_id|default:"-" }}</td>
            <td>{{ zaznam.produkt_id|default:"-" }}</td>
            <td>{{ zaznam.smlouva_id|default:"-" }}</td>
            <td>{{ zaznam.pojistenec|default:"--" }}</td>
            <td>{{ zaznam.produkt|default:"--" }}</td>
            <td>{{ zaznam.akce|default:"--" }}</td>
            <td>{{ zaznam.detail_akce|default:"--" }}</td>
            <td>{{ zaznam.datum_cas }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}