{% extends "base.html" %} 
{% load static %} 


{% block styles %}
    <link rel="stylesheet" href={% static "pojistenci_app/index.css" %}>

{% endblock styles %}

{% block title %}
    Home
{% endblock %}


{% block content %}
    <div id="heroDiv"
    class="d-flex flex-column align-items-center justify-content-center mt-5 pt-3 gap-4" style="filter:none;"
    >
        <img src={% static "pictures/logo-success.png" %} width="170" height="170">
        <h1 class="text-success">SafeHouse</h1>
        <p class="lead">
            Fiktivní pojišťovací aplikace vytvořená jako závěrečný projekt rekvalifikačního kurzu ITnetwork.
        </p>
    </div>
    {% include "pojistenci_app/includes/o_aplikaci_tlacitka.html" %}
    <script src="{% static 'pojistenci_app/js/uvodni_strana_dynamicke.js' %}"></script>
{% endblock content %}
