{% extends "pojistenci_app/klient_detail.html" %}

{% block content_bottom %}
{% if smlouvy %}
<h3 class="mb-4">Všechny smlouvy klienta</h3>
        <table class="table table-hover" id="smlouvy_klienta">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Název produktu</th>
                <th scope="col">Předmět krytí</th>
                <th scope="col">Částka krytí</th>
                <th scope="col">Cena/měs.</th>
                <th scope="col">Datum podpisu<th>
            </tr>
            </thead>
            <tbody>
            {% for smlouva in smlouvy %}
            <tr style="vertical-align: middle;">
                <th scope="row">{{ smlouva.id }}</th>
                <td>{{ smlouva.produkt.nazev }}</td>
                <td>{{ smlouva.produkt.predmet_kryti }}</td>
                <td>{{ smlouva.castka_kryti }}</td>
                <td>{{ smlouva.cena }} kč</td>
                <td>{{ smlouva.datum }}</td>
                <td>
                    <a class="btn btn-danger" href={% url 'smlouva_vymazat' klient.id smlouva.id %}>smazat</a>
            </tr>
            {% endfor %}
            <tr style="vertical-align: middle;">
                <td class="bg-light" colspan="3"></td>
                <th class="bg-light">Celkem měsíčně: </th>
                <th class="bg-light">{{ celkem_mesicne.cena__sum }} kč</th>
                <td class="bg-light" colspan="2"></td>
            </tr>

            </tbody>
        </table>
{% else %}

<div class="alert alert-info" role="alert">
    Klient {{ klient.jmeno }} {{ klient.prijmeni }} nemá žádné aktivní smlovy.  
</div>

{% endif %}
{% endblock content_bottom %}

