{% extends "base.html" %} 
{% load static %} 


{% block styles %}
    <link rel="stylesheet" href={% static "pojistenci_app/index.css" %}>

{% endblock styles %}


{% block title %}
    nedostupné
{%endblock title %} 



{% block content %}
    <div id="heroDiv"
    class="d-flex flex-column align-items-center justify-content-center mt-5 pt-3 gap-4" style="filter:none;"
    >
        <h1 class="text-danger">Nedostupné</h1>
        <p class="lead text-danger">
            Přihlášování uživatelů zatím není dostupné. Aplikace slouží pouze k prezentačním účelům.
        </p>
    </div>
{% endblock content %}
