{% extends "base.html" %}
{% load static %}

{% block title %}
Pojištění
{% endblock title %}


{% block styles %}
    <link rel="stylesheet" href={% static "pojistenci_app/pojisteni.css" %}>
{% endblock styles %}

{% block content %}
    <div class="container-md">
        <h1 class="text-center pt-4 bg-light mb-0">SPRÁVA POJIŠTĚNÍ</h1>
        <div class="bg-light p-5 mb-5 d-flex gap-3 justify-content-center rounded-bottom">
            <a class="btn btn-primary btn-lg" href={% url "pojisteni" %}>Všechny produkty</a>
            <a class="btn btn-success btn-lg" href={% url "pridat_pojisteni" %}>Přidat produkt</a>
        </div>
        {% if pridat or editovat or vymazat %}
            {% block form %}
            {% endblock form %}
        {% else %}
        <h3 class="mb-5">Seznam pojistných produktů</h3>
        <table class="table table-hover" id="vsechny_produkty">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Název</th>
                <th scope="col">Předmět krytí</th>
                <th scope="col">Částka krytí (kč)</th>
                <th scope="col">Základní cena (kč/měs.)</th>
                <th scope="col">Poměr</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for produkt in produkty %}
            <tr style="vertical-align: middle;">
                <th scope="row">{{ produkt.id }}</th>
                <td>{{ produkt.nazev }}</td>
                <td>{{ produkt.predmet_kryti }}</td>
                <td>{{ produkt.zakladni_castka }}</td>
                <td>{{ produkt.zakladni_cena }}</td>
                <td>{{ produkt.pomer }}</td>
                <td>
                    <a class="btn btn-info" href={% url "editovat_pojisteni" produkt.id %}>editovat</a>
                    <a class="btn btn-danger" href={% url "vymazat_pojisteni" produkt.id %}>smazat</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
{% endblock content %}
