{% load static %}
<div class="d-flex flex-row justify-content-center gap-3">
    <button class="btn btn-outline-success" type="button" onclick="changeContent(1)" style="width: 190px;">
        O aplikaci SafeHouse
    </button>
    <button class="btn btn-outline-success" type="button" onclick="changeContent(2)" style="width: 190px;">
        Funkce aplikace
    </button>
    <button class="btn btn-outline-success" type="button" onclick="changeContent(3)" style="width: 190px;">
        O tvůrci
    </button>
    <div id="about_foto_wrapper">
        <img id="about_foto" src="{% static 'pojistenci_app/pictures/vaclav_nekolny.png' %}" width="250">
    </div>
</div>
<div class="collapse mt-3" id="collapseContent">
    <div class="card card-body">
        <div id="dynamicContent" class="pt-3 d-flex flex-column align-items-center" style="text-align:center;">
        </div>
    </div>
</div>
