html {
    scrollbar-gutter: stable;
}

.navbar-brand img{
    position: relative;
    top: -4px;
}

body {
    background: radial-gradient(circle at center 200px, #daebda, #ffffff 90%);
    position: relative;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#about_foto {
    position:relative;
    top: -100px;
}