{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block styles %}{% endblock styles %}
    {% bootstrap_css %} 
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <header>
        {% include "includes/navbar.html" %}
    </header>
    <div class="container-md">
    {% block content %} 
    {% endblock content %}
    </div> 
    {% bootstrap_javascript %}
  </body>
</html>
