{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% bootstrap_css %}
    {% block styles %}

    {% endblock %}
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
  </head>
  <body class="pb-5">
    <header>
      {% include 'includes/navbar.html' %}
    </header>
    <div class="container-md">
      {% block content %}

      {% endblock %}
    </div>
    {% bootstrap_javascript %}
  </body>
</html>
